.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 57px;
  padding: 10px 38px 10px 16px;
  background: rgb(173, 173, 250);
  background-size: 10px;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  text-align: end;
  margin-top: 1em;
  margin-right: 5em;
}

.order:hover {
  border: 1px solid #999;
}

.filter {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 57px;
  padding: 10px 38px 10px 16px;
  background: rgb(173, 173, 250);
  background-size: 10px;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  text-align: end;
  margin-top: 1em;
  margin-left: 4em;
}

.filter:hover {
  border: 1px solid #999;
}

select::-ms-expand {
  display: none;
}
